li#accordion-section-writers_unlock h3, li#accordion-section-writers_contact h3 {
    background: #4dbf99 !important;
    color: #fff !important;
    border-color: #388e71 !important;
}

li#accordion-section-writers_unlock .accordion-section-title:after, li#accordion-section-writers_contact .accordion-section-title:after{
	color:#fff !important;
}